.center {
  background-color: white;
}

.header {
  border-bottom: 4px solid #EBEBEB;
}

.logo {

  img {
    width: 135px;
    padding-bottom: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.slogan {
  img {
    width: 250px;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.mainInfo {
  padding-top: 40px;

  p {
    font-size: 18px;
    line-height: 1.2em;
  }

  .italic {
    font-style: italic;
  }

  .underline {
    text-decoration: underline;
    color: #0b43a5;
  }

  .image {
    height: 460px;
    width: 400px;
  }

  .buttonRow {
    .buttonP {
      .button {
        background-color: #CC0000;
        color: white;
        padding: 12px 29px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 3px;
        margin-left: 0;
      }
    }
  }
}

.footer {
  background-color: #CC0000;

  p {
    color: white;
    font-size: 18px;
    margin-top: 30px;
  }
}

.footer {

  .menu {
    margin-left: 5px;

    img {
      padding-top: 5px;
      width: 28px;
    }
  }
}


.legal {
  background-color: #252525;
  padding-top: 20px;

  p {
    color: white;
    text-align: center;
    font-size: 10px;
  }
}

// MEDIA QUERY

/* Small only */
@media only screen and (max-width: #{$global-breakpoint}) {

  .logo {

    img {
      width: 80px !important;
      padding-top: 12px !important;
    }
  }

  .footer {

    .menu {
      margin-bottom: 15px !important;

      img {
        padding-top: 25px !important;
        padding-left: 1px !important;
        padding-right: 1px !important;
        width: 23px !important;
      }
    }
  }

  .legal {
    p {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
  }
}